.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  border-radius: 10px;
}

.item {
  list-style: none;
  text-align: center;
  background-color: #34495e;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s, box-shadow 0.3s;
}

.item:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.item a {
  text-decoration: none;
  color: #ecf0f1;
  font-size: 1.1rem;
  transition: color 0.3s;
}

.item a:hover {
  color: #f39c12;
}
